<nav *ngIf="isSignedIn" class="app-navbar">
  <div class="nav-content">
    <div class="nav-brand">
      <span class="brand-text">Octane</span>
    </div>

    <div class="nav-menu">
      <a class="menu-item"
         *ngFor="let option of menuOptions; trackBy: trackByName"
         [routerLink]="option.route"
         routerLinkActive="active-link">
        {{ option.translationKey | translate }}
      </a>
    </div>

    <div class="nav-actions">
      <app-language-switcher></app-language-switcher>
      <div class="divider"></div>
      <button class="btn-logout" (click)="signOut()">
        <span class="material-icons logout-icon">logout</span>
        <span class="logout-text">{{ 'navbar.logout' | translate }}</span>
      </button>
    </div>
  </div>
</nav>
